#requirements-dev.txt
#For setting up a development environment.
#Install with: `pip install -r requirements-dev.txt`
#To install the project itself in editable mode with all development extras
-e .[dev]

#Testing
typer
pytest
pytest-cov

#Packaging and distribution
build
twine
python-dotenv

# Formatting and linting
black
isort

# Pre-commit hooks
pre-commit

# Documentation
sphinx
sphinx_rtd_theme
