#requirements-dev.txt
#For setting up a development environment.
#Install with: `pip install -r requirements-dev.txt`
#To install the project itself in editable mode
-e .

#Testing
pytest
pytest-cov

#Packaging and distribution
build
twine
